#benefits .card-custom {
    height: 7.7rem; /* Altura fija para que todos los cards tengan la misma altura */
    margin: 1rem auto; /* Margen para centrado vertical y horizontal */
}

#reviews .card-custom {
    height: 32rem;
    margin: 1rem auto;
}

.card-custom {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-custom:hover {
    transform: translateY(-10px);
}

#reviews .card-img-top{
    width: 414px;
    height: 414px;
}

#reviews .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#contact-container{
    width: 25%;
}

@media (max-width: 896px), (max-width: 667px), (max-width: 575px) {
    header .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    header .navbar-nav {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    #reviews .card-img-top{
        width: auto;
        height: auto;
    }

    #reviews .card-custom {
        height: auto;
    }

    #reviews .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    #contact-container{
        width: 100%;
    }
}

@media (max-width: 667px) {
    .nav-link {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .nav-link {
        font-size: 10px;
    }
}