*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.custom-container {
    max-width: 50%;
}

article a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

article a:hover {
    color: #0d6efd;
}

.img-container img{
    max-height: 634.062px;
    max-width: 100%;
    object-fit: cover;
}

.card-custom img {
    max-height: 405.391px;
    object-fit: cover;
}

@media (max-width: 896px), (max-width: 667px), (max-width: 575) {
    .custom-container {
        max-width: 90%;
    }

    header .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    header .navbar-nav {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    .img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}